.grid-1,
.grid-2,
.grid-3 {
    display: flex;
    justify-items: auto;
}

.case-1,
.case-2,
.case-3,
.case-4,
.case-5,
.case-6,
.case-7,
.case-8,
.case-9 {
    border: 1px solid;
    height: 150px;
    width: 150px;
}