.game {
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;    
} 

.grid-1,
.grid-2,
.grid-3 {
  display: flex;
  justify-content: center;
}

.case-1,
.case-2,
.case-3,
.case-4,
.case-5,
.case-6,
.case-7,
.case-8,
.case-9 {
  width: 150px;
  height: 150px;
  background-color: white;
  opacity: 0.8;
}

.case-1 {
    border-right: $border-board;
    border-bottom: $border-board;
}
.case-2 {
    border-bottom: $border-board;
}
.case-3 {
    border-left: $border-board;
    border-bottom: $border-board;
}
.case-4 {
    border-right: $border-board;
}
.case-6 {
    border-left: $border-board;
}
.case-7 {
    border-right: $border-board;
    border-top: $border-board;
}
.case-8 {
    border-top: $border-board;
}
.case-9 {
    border-left: $border-board;
    border-top: $border-board;
}