.header {
    background-color: none;
    color: white;
    font-size: 5em;
    font-family: sans-serif;
    opacity: 0.8;
    margin: auto;
    width: 60%;
    text-align: center;
    text-shadow: sandybrown 2px 5px, white 3px 6px;
}