$main-font: 'Architects Daughter', cursive;
$main-color: sandybrown;
$main-color-darker: #cf670e;
$text-shadow-header: $main-color 3px 6px, white 5px 7px;
$text-shadow-game: $main-color 1px 3px, white 2px 4px;

.header,
.player-0-name,
.player-1-name,
.player-0-score,
.player-1-score {
    font-family: $main-font;
    color: white;
    opacity: 0.9;
    text-align: center;
}

.header {
    font-size: 7em;
    text-shadow: $text-shadow-header;
}

.player-0-name,
.player-1-name,
.player-0-score,
.player-1-score {
    text-shadow: $text-shadow-game;
    font-size: 4em;
}

.player-0-score,
.player-1-score {
    padding-top: 50px;
}

.case-1,
.case-2,
.case-3,
.case-4,
.case-5,
.case-6,
.case-7,
.case-8,
.case-9 {
    font-family: $main-font;
    font-size: 7em;
    text-align: center;
    color: $main-color;
    text-shadow: -1px 1px 0px rgb(0, 0, 0, 0.3),
                -1px -1px 0px rgb(0, 0, 0, 0.3),
                1px -1px 0px rgb(0, 0, 0, 0.3),
                1px 1px 0px rgb(0, 0, 0, 0.3);

}

.message {
    position: absolute;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: $main-font;
    font-size: 3em;
    background-color: white;
    padding: 0 20px;
    color: $main-color-darker;
}